#top5-statusbar {
    display: none;
}

.css-1jrn2fe-MuiGrid-root {
    position: relative;
    width: 100%;
    height: inherit !important;
    top: 0;
    bottom: 0;
}

/* #root {
    height: inherit;
} */

.css-1ytlwq5-MuiAlert-icon {
    margin-top: 5px;
    margin-right: 12px;
    padding: 7px 0px;
    font-size: 40px!important;
    opacity: 0.9;
}